
vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/vClientTemplateLib.dep

*.dep

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app.dSYM/Contents/Info.plist

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app.dSYM/Contents/Resources/DWARF/vClientTemplateLib

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/_CodeSignature/CodeResources

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/Assets.car

*.nib

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/Base.lproj/Main_iPad.storyboardc/Info.plist

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/Base.lproj/Main_iPhone.storyboardc/Info.plist

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/embedded.mobileprovision

*.o

*.d

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/Info.plist

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/LaunchImage-700-568h@2x.png

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/PkgInfo

*.dia

*.hmap

*.dat

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/vClientTemplateLib

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/assetcatalog_dependencies.txt

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/ResourceRules.plist

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/assetcatalog_generated_info.plist

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/armv7s/vClientTemplateLib.LinkFileList

vCTL/prj/ios/vClientTemplateLib/build/Debug-iphoneos/vClientTemplateLib.app/en.lproj/InfoPlist.strings

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/vClientTemplateLib.xcent

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/xcuserdata/vshakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/project.xcworkspace/xcuserdata/vshakya.xcuserdatad/UserInterfaceState.xcuserstate

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/project.xcworkspace/xcuserdata/vshakya.xcuserdatad/UserInterfaceState.xcuserstate

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/xcuserdata/vshakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/xcuserdata/vshakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/project.xcworkspace/xcuserdata/vshakya.xcuserdatad/UserInterfaceState.xcuserstate

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/project.xcworkspace/xcuserdata/vshakya.xcuserdatad/UserInterfaceState.xcuserstate

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/xcuserdata/vshakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

vCTL/prj/ios/vClientTemplateLib/vClientTemplateLib.xcodeproj/xcuserdata/vshakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/arm64/vClientTemplateLib

*.LinkFileList

*.LinkFileList

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/armv7/vClientTemplateLib

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/armv7/vClientTemplateLib

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/arm64/vClientTemplateLib.LinkFileList

*.LinkFileList

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/armv7/vClientTemplateLib.LinkFileList

vCTL/prj/ios/vClientTemplateLib/build/vClientTemplateLib.build/Debug-iphoneos/vClientTemplateLib.build/Objects-normal/armv7s/vClientTemplateLib
